<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['home-search']">
     <mat-icon>home</mat-icon>
   </button>
   <h1>InfoTrack CEO Web Scrapper</h1>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['home-search']">
     <mat-icon>search</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['history']">
    <mat-icon>history</mat-icon>
  </button>
</mat-toolbar>