.container{
    padding: 20px;
}

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 4px;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f9f9f9;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

.ranking {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

